.car-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.car-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: flex;
    padding: 20px;
    border-radius: 7px;
    color: white;
    background-color: rgba(93, 20, 228, 0.918);
    gap: 15px;
    cursor: pointer;
  }

  .nameh3{
    font-size: 30px;
    margin-bottom: 10px;
  }

  .namep {
    font-size: 18px;
    margin: 0;
  }
